<header><h1>Minify-Me</h1><div class="logo"><%= image_tag "Dr-Evil_sm.png" %></div></header>
<section>
<div class="url_form">
    <form action="/urls/new" method="post">
      <input type="text" name="url_to_shorten" placeholder="http://"><input type="submit" value="Shorten">
    </form>
  </div>
</section>