<header><h1>Minified!</h1><div class="logo"><%= image_tag "Mini-Me_sm.png" %></div></header>
<section class="stats">
  <table>
    <tr>
      <td>Original URL</td>
      <td><%= @url.url %></td>
    </tr>
    <tr>
      <td>"Shortened" URL</td>
      <td><%= request.base_url + "/" + @url.id.to_s %></td>
    </tr>
    <tr>
    <td></td>
    <td>Total visits: <%= @url.count %></td>
    </tr>
  </table>
</section>