<header><h1>Minified!</h1><div class="logo"><%= image_tag "Mini-Me_sm.png" %></div></header>
<section class="stats">
  <table>
    <tr>
      <td class="bold">Original URL</td>
      <td><%= @url.url %></td>
    </tr>
    <tr>
      <td class="bold">"Shortened" URL</td>
      <td><%= request.base_url + "/" + @url.short_url %></td>
    </tr>
    <!--<tr>-->
    <!--<td class="bold">Page visits via shortener:</td>-->
    <!--<td>count goes here</td>-->
    <!--</tr>-->
  </table>
</section>